<div class="row">
    <div class="col-3">
<div class="card mt-4 ml-4" style="width: 18rem;">
    <img class="card-img-top" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/202723d1-2752-4bf8-99a0-300d385a37a8/d6xp27u-eec43cd5-4a1c-4dbb-b403-0079a3b7facb.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvMjAyNzIzZDEtMjc1Mi00YmY4LTk5YTAtMzAwZDM4NWEzN2E4XC9kNnhwMjd1LWVlYzQzY2Q1LTRhMWMtNGRiYi1iNDAzLTAwNzlhM2I3ZmFjYi5wbmcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.YmzwQvIxDyyDQVM0_wr2oPh0kf8FA4GeCZozFPyYyG0" alt="Card image cap">
    <div class="card-body">
        <div class="row">
            <div class="col">
                <b><p>Nombre</p></b>
            </div>
            <div class="col">
                <p class="card-text">{{a.Nombre}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <b><p>DPI:</p></b>
            </div>
            <div class="col">
                <p class="card-text">{{a.Dpi}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <b><p>Correo:</p></b>
            </div>
            <div class="col">
                <p class="card-text">{{a.Correo}}</p>
            </div>
        </div>
      
    </div>
  </div>
</div>
<div class="col-3 mr-4 mt-4">
    <div class="card" style="width: 1000px; height: 410px;">
        <div class="card-header" style="height: 50px;">
          <b><p style="color: rgb(89, 173, 252); ">OPCIONES DE USUARIO</p></b>
        </div>
        <div class="card-body" style="color:rgb(165, 111, 216)">
          <a href="#" class="btn btn-primary">Eliminar Usuario</a>
        </div>
      </div>
</div>
</div>