<div class="row">
    <div class="col-3">
<div class="card mt-4 ml-4" style="width: 18rem;">
    <div *ngIf="tipo==1">
        <img class="card-img-top" src="https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/media/image/2021/04/stonks-2286073.jpg" alt="Card image cap">
    </div>
    <div *ngIf="tipo==2">
        <img class="card-img-top" src="https://res.cloudinary.com/teepublic/image/private/s--PJLwJwG9--/t_Resized%20Artwork/c_fit,g_north_west,h_1054,w_1054/co_ffffff,e_outline:53/co_ffffff,e_outline:inner_fill:53/co_bbbbbb,e_outline:3:1000/c_mpad,g_center,h_1260,w_1260/b_rgb:eeeeee/t_watermark_lock/c_limit,f_auto,h_630,q_90,w_630/v1592344539/production/designs/11396407_0.jpg" alt="Card image cap">
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col">
                <b><p>Nombre</p></b>
            </div>
            <div class="col">
                <p class="card-text">{{user.Nombre}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <b><p>DPI:</p></b>
            </div>
            <div class="col">
                <p class="card-text">{{user.DPI}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <b><p>Correo:</p></b>
            </div>
            <div class="col">
                <p class="card-text">{{user.Correo}}</p>
            </div>
        </div>
      
    </div>
  </div>
</div>
<div class="col-3 mr-4 mt-4">
    <div class="card" style="width: 1000px; height: 410px;">
        <div class="card-header" style="height: 50px;">
          <b><p style="color: rgb(89, 173, 252); ">OPCIONES DE USUARIO</p></b>
        </div>
        <div class="card-body" style="color:rgb(165, 111, 216)">
          <a href="#" class="btn btn-light" style="color: blueviolet;">Eliminar Usuario</a>
          <br>
          <br>
          <a href="/" (click)="log_out()" class="btn btn-light" style="color: blueviolet;">Cerrar Sesión</a>
        </div>
      </div>
</div>
</div>