<div class="container">
    <div class="row">
        <div class="col">
            <div class="card mt-4" style="width: 18rem;">
                <div class="card-body">
                  
                   
                      <h5 class="card-title">{{year}}</h5>
                   
                  
                  
                </div>
                <ul class="list-group list-group-flush">
                  <li *ngFor="let ped of pedido" class="list-group-item">
                    <div class="row">
                    <div class="col">
                      <a href="/pedido/3" (click)="pedidos(ped)" style="color: blueviolet;">{{ped}}</a>
                    </div>
                    <div class="col">
                      <button type="button" class="btn btn-warning btn-sm" style="color: white; background-color: rgb(36, 36, 36);"(click)="graf_mes(ped)">Reporte</button>
                    </div>
                    </div>
                  </li>
                  
                </ul>
                <div class="card-body">
                  <div class="row">
                    <div class="col" *ngIf="indice>0">
                      <a href="/pedido/2" class="card-link">Anterior</a>
                    </div>
                    <div class="col" *ngIf="indice!=large-1">
                      <a href="/pedido/1" class="card-link">Siguiente</a>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <div class="col mt-4 mr-4">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Fecha</th>
                <th scope="col">Usuario</th>
                <th scope="col">Departamento</th>
                
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
              </tr>
            </tbody>
          </table>
        </div>
        
</div>
<br>
<h1>REPORTES</h1>
<div class="row">
  
  <div class="col mt-4">
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><button type="button" (click)="graf_store()" class="btn btn-success btn-sm" style="background-color: blueviolet;">Tiendas</button></li>
    <li class="list-group-item"><button type="button" (click)="graf_year()" class="btn btn-success btn-sm" style="background-color: blueviolet;">Arbol de Pedidos</button></li>
    <li class="list-group-item"><button type="button" (click)="graf_alm()" class="btn btn-success btn-sm" style="background-color: blueviolet;">Almacen</button></li>
    <li class="list-group-item"><button type="button" (click)="graf_alm()" class="btn btn-success btn-sm" style="background-color: blueviolet;">Usuarios</button></li>
    <li class="list-group-item"><button type="button" (click)="graf_user()" class="btn btn-success btn-sm" style="background-color: blueviolet;">Arbol sin Cifrar</button></li>
    <li class="list-group-item"><button type="button" (click)="graf_user__()" class="btn btn-success btn-sm" style="background-color: blueviolet;">Arbol Cifrado</button></li>
    <li class="list-group-item"><button type="button" (click)="graf_user_()" class="btn btn-success btn-sm" style="background-color: blueviolet;">Arbol de Cifrado sensible</button></li>
  </ul>
</div>
</div>