<div class="container">
    <div class="row">
        <div class="col">
            <div class="card mt-4" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">{{year}}</h5>
                </div>
                <ul class="list-group list-group-flush">
                  <li *ngFor="let ped of pedido" class="list-group-item">{{ped}}</li>
                </ul>
                <div class="card-body">
                  <div class="row">
                    <div class="col" *ngIf="indice>0">
                      <a href="/pedido/2" class="card-link">Anterior</a>
                    </div>
                    <div class="col" *ngIf="indice!=large-1">
                      <a href="/pedido/1" class="card-link">Siguiente</a>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        
</div>
