<button type="button" class="close" aria-label="Close">
  <span aria-hidden="true">&times;</span>
</button>
<div class="container">
  <div class="row">
    <div class="col-md-8 mt-4">
      <ul class="list-group mt-1">
        <div *ngFor="let store of storearray"  id="li_st" style="border-radius: 10px;" 
          class="list-group-item mt-1">
          <div class="contaasiner">
            <div class="row">
          <div class="col mt-1">
            <img src={{store.Logo}} title={{store.Nombre}} width="80px" height="80px" > 
          </div>
          <div id="li_st" class="col" style="color:rgb(87, 86, 85);font-weight: bolder;">
            <br>
            {{store.Nombre}}
          </div>
           <div id="li_h" class="col" style="color:white;font-weight: bolder;">
            <br>
            {{store.Descripcion}}
            
          </div>
          <div class="col">
            <a href="/inventario/{{store.ID}}" class="btn btn-info">Productos</a>
            <br>
            <a href="/coments/1-{{store.ID}}" class="btn btn-info mt-1">Comentarios</a>
            <div *ngIf="tipo==1">
              <button type="button" (click)="del_tienda(store.ID)" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
      </ul>
    </div>
    <div class="col-md-4">

    </div>
  </div>
</div>