
  <div class="row mt-4 ml-4">
    <div *ngFor="let producto of Prodc; "class="col-sm-4">
      <div class="card">
        <div id="li_pd" class="card-body" style="border-color: rgb(3, 3, 3);">
          <p class="card-text" style="font-weight: bolder; color:rgb(53, 53, 53)">{{producto.Nombre}}</p>
          <div class="row">
          <div class="col-xs-6">
          <img src={{producto.Imagen}} width="80px" height="80px">
          <div class="row">
            <div class="col">
              <br>
              <br>
              <br>
              <a href="inventario/{{id}}" class="btn btn-primary" (click)="addProd(producto,Cant.value)" value={{producto}}  style="background-color:rgb(165, 111, 216);border-color: darkmagenta;">Agregar</a>
              </div>
            </div>
        </div>
        <div class="col-xs-6">
          <span #Ca value={{producto.Cantidad}} class="badge badge-primary badge-pill" style="background-color: rgb(165, 111, 216);;">Stock:{{producto.Cantidad}}</span>
          
          <p class="card-text" style="font-weight: bolder; color:rgb(53, 53, 53)">Q{{producto.Precio}}</p> 
          <br>
          <br>
          <br>
          <textarea class="ml-4 mt-3" #Cant style="width: 100px; height: 30px;"></textarea>
        </div>
      </div>
          </div>
        </div>
      </div>
  </div>
    