<div class="container">
    <div class="row">
      <div class="col">
      <h3 style="text-align: left;">                INGRESE LOS ARCHIVOS DE CARGA</h3>
    <textarea #carga style="width: 100vh; height: 15cm; align-self: center; background-color: rgb(180, 253, 219) ;"></textarea>
  </div>
  <div class="col">
    <div class="dropdown">
      <br>
      <br>
      <button class="dropbtn">ENVIAR PARA:</button>
      <div class="dropdown-content">
        <a href="/tiendas"(click)="getStores(carga.value)" >TIENDAS</a>
        <a href="/tiendas"(click)="getInvent(carga.value)">INVENTARIOS</a>
        <a href="/tiendas"(click)="postPedido(carga.value)">PEDIDOS</a>
        <a href="/tiendas"(click)="postUser(carga.value)">USUARIOS</a>
        <a href="/tiendas"(click)="PostGrafo(carga.value)">ALMACEN</a>
      </div>
    </div>
  </div>
  <form [formGroup]="Register">
    <p style="color: white;">Usuario:</p> <input style="width: 400px;" type="text" 
    [class.is-invalid]="Register.get('Key').touched && Register.get('Key').invalid"
    class="form-control" formControlName="Key">
    <button class="button btn-primary" (click)="Master()"  type="submit">Registrar</button>
</form>
    </div>
  </div>
  
