<div class="container">
    <div class="row">
      <div class="col">
      <h3 style="text-align: left;">                INGRESE LOS ARCHIVOS DE CARGA</h3>
    <textarea #carga style="width: 100vh; height: 15cm; align-self: center; background-color: rgb(180, 253, 219) ;"></textarea>
  </div>
  <div class="col">
    <div class="dropdown">
      <br>
      <br>
      <button class="dropbtn">ENVIAR PARA:</button>
      <div class="dropdown-content">
        <a href="/tiendas"(click)="getStores(carga.value)" >TIENDAS</a>
        <a href="/tiendas"(click)="getInvent(carga.value)">INVENTARIOS</a>
        <a href="/tiendas"(click)="postPedido(carga.value)">PEDIDOS</a>
        <a href="/tiendas"(click)="postUser(carga.value)">USUARIOS</a>
        <p (click)="postUser(carga.value)">Hola</p>
      </div>
    </div>
  </div>
    </div>
  </div>
  
